@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 768px) {
    .hide-on-mobile {
      display: none;
    }
    .mobile-message {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh; 
      text-align: center;
      padding: 20px;
      font-size: 18px;
      color: #333;
      background-color: #f8f9fa;
      border: 1px solid #ddd;
      border-radius: 8px;
      margin: 20px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    .warning-icon {
      font-size: 50px;
      color: #ffcc00; 
      margin-bottom: 10px;
    }
  }
  
  @media (min-width: 769px) {
    .mobile-message {
      display: none;
    }
  }